*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
ida/libGTASA-32-2.1.txt
ida/Новая папка/libGTAVC-32-damb.txt
ida/libGTAVC-64-DAMB.txt
